@{
    ViewData["Title"] = "Home Page";
}
<style>

    .text-center {
        font-family: 'Nerko One', cursive;
        font-size: 50px;
    }

</style>


<div class="text-center">
    
    <p>Movie Listings Web Application</p>
</div>
